<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Connected clients list </h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ENDPOINTS</th>
                        <!--<th>Origin</th>-->
                        <!--<th>Registration ID</th>-->
                        <th>Registration Date</th>
                        <!--<th>Last Update</th>-->
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let securityInfoServer of securityInfosServer">
                        <td>{{securityInfoServer.endpoint}}</td>
                        <!--<td>{{securityInfoServer.origin}}</td>-->
                        <!--<td>{{securityInfoServer.registrationID}}</td>-->
                        <td>{{securityInfoServer.registrationDate}}</td>
                        <!--<td>{{securityInfoServer.lastUpdate}}</td>-->
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>