<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Add new client</h3>
        </div>
        <div class="card-body">
            
            <form action="">
                <div class="row">
                    <div class="form-group" class="col-md">
                        <label for="">Endpoint </label>
                        <input [(ngModel)]="clientForm.endpoint" name="endpoint" type="text"
                            class="form-control">
                            <button (click)="addClient()" class="btn btn-success">Add</button>
                    </div>

                    <div class="form-group" class="col-md">
                        <label for="url_bs">url_bs </label>
                        <input [(ngModel)]="clientForm.url_bs" name="url_bs" type="text" class="form-control">
                        <label for="">id_bs </label>
                        <input [(ngModel)]="clientForm.id_bs" name="id_bs" type="text" class="form-control">
                        <label for="">key_bs </label>
                        <input [(ngModel)]="clientForm.key_bs" name="key_bs" type="text" class="form-control">
                    </div>

                    <div class="form-group" class="col-md">
                        <label for="url_bs">url_s </label>
                        <input [(ngModel)]="clientForm.url_s" name="url_s" type="text" class="form-control">
                        <label for="">id_s </label>
                        <input [(ngModel)]="clientForm.id_s" name="id_s" type="text" class="form-control">
                        <label for="">key_s </label>
                        <input [(ngModel)]="clientForm.key_s" name="key_s" type="text" class="form-control">
                    </div>
                </div>

                

            </form>
            
        </div>
    </div>

    <br>
    
    <div class="card">
        <div class="card-header">
            <h3>Client list</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ENDPOINTS</th>
                        <th>URL_BS</th>
                        <th>ID_BS</th>
                        <th>KEY_BS</th>
                        <th>URL_S</th>
                        <th>ID_S</th>
                        <th>KEY_S</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{client.endpoint}}</td>
                        <td>{{client.url_bs}}</td>
                        <td>{{client.id_bs}}</td>
                        <td>{{client.key_bs}}</td>
                        <td>{{client.url_s}}</td>
                        <td>{{client.id_s}}</td>
                        <td>{{client.key_s}}</td>
                        <td>
                            <button (click)="deleteClient(client)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
