<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Add new client</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="addClient()" #addClientForm="ngForm">
                <div class="row">
                    <div class="form-group" class="offset-md-4 col-md-4">
                        <label for="endpoint">Endpoint </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="endpointName"
                            required
                            [(ngModel)]="clientForm.endpoint"
                            name="endpoint"
                        > 
                    </div>
                </div>
                <br>

                <h4 class="headers">Bootstrap Server configuration</h4>
                <div class="row">
                    <div class="form-group" class="col-md">
                        <label for="url_bs">URL </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="coaps://localhost:5684"
                            required
                            pattern="^(coap|coaps)://([a-zA-Z0-9_\-\.]+):([0-9]{2,5})$"
                            [(ngModel)]="clientForm.url_bs"
                            name="url_bs"
                            #url_bs_tp="ngModel"
                        >
                    </div>
                    <div class="form-group" class="col-md">
                        <label for="id_bs">ID </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="enter a id"
                            required
                            [(ngModel)]="clientForm.id_bs"
                            name="id_bs"
                        >
                    </div>
                    <div class="form-group" class="col-md">
                        <label for="key_bs">KEY </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="enter a key"
                            required
                            [(ngModel)]="clientForm.key_bs"
                            name="key_bs"
                        >
                    </div>
                </div>
                <br>

                <h4 class="headers">Server configuration</h4>
                <div class="row">
                    <div class="form-group" class="col-md">
                        <label for="url_s">URL </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="coaps://localhost:5784"
                            required
                            pattern="^(coap|coaps)://([a-zA-Z0-9_\-\.]+):([0-9]{2,5})$"
                            [(ngModel)]="clientForm.url_s"
                            name="url_s"
                            #url_s_tp="ngModel"
                        >
                    </div>
                    <div class="form-group" class="col-md">
                        <label for="id_s">ID </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="enter a id"
                            required
                            [(ngModel)]="clientForm.id_s"
                            name="id_s"
                        >
                    </div>
                    <div class="form-group" class="col-md">
                        <label for="key_s">KEY </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="enter a key"
                            required
                            [(ngModel)]="clientForm.key_s"
                            name="key_s"
                        >
                    </div>
                </div>
                <br>

                <div class="row" *ngIf="checkFormFulfilled(addClientForm.form) && (url_bs_tp.errors || url_s_tp.errors)">
                    <div class="alert alert-danger col-12">
                        At least one URL is malformed. Please check them again.
                    </div>
                </div>
                
                <div class="row">
                    <button
                        type="submit"
                        class="btn btn-success offset-md-5 col-md-2"
                        [disabled]="!addClientForm.form.valid"
                    >Add</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    
    <div class="card">
        <div class="card-header">
            <h3>Client list</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th class="headers" colspan="3">Bootstrap Server configuration</th>
                            <th class="headers" colspan="3">Server configuration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <thead class="thead-light">
                        <tr>
                            <th class="headers">ENDPOINT</th>
                            <th class="headers">URL</th>
                            <th class="headers">ID</th>
                            <th class="headers">KEY</th>
                            <th class="headers">URL</th>
                            <th class="headers">ID</th>
                            <th class="headers">KEY</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clients">
                            <td>{{client.endpoint}}</td>
                            <td>{{client.url_bs}}</td>
                            <td>{{client.id_bs}}</td>
                            <td>{{client.key_bs}}</td>
                            <td>{{client.url_s}}</td>
                            <td>{{client.id_s}}</td>
                            <td>{{client.key_s}}</td>
                            <td>
                                <button (click)="deleteClient(client)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
